@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4DF;
    --cor-hover: #272727;
    --font-primaria: "Krona One", sans-serif;
    --font-secudaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 1% 0 0 20%;

}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__links {
    font-family: var(--font-secudaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.title-highlight {
    color: var(--cor-terciaria);
}

.conteudo {
    padding: 8% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.conteudo__caixa {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.conteudo__imagem-ajustada {
    width: 50%;
    height: auto;
}

.conteudo__caixa__titulo {
    font-family: var(--font-primaria);
    font-size: 2.25rem;
}

.conteudo__caixa__texto {
    font-family: var(--font-secudaria);
    font-size: 1.5rem;
}

.conteudo__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.conteudo__links_botao {
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    width: 62%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem 0px;
    color: var(--cor-secundaria);
    font-family: var(--font-secudaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    gap: 1rem;
}

.conteudo__links_botao:hover {
    background-color: var(--cor-hover);
}

.conteudo__links__subtitulo {
    font-family: var(--font-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.rodape {
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-family: var(--font-secudaria);
    font-size: 1.5rem;
    color: var(--cor-primaria);
}

@media (max-width: 1100px) {
    .conteudo {
        flex-direction: column-reverse;
        padding: 20%;

<<<<<<< HEAD
    .conteudo__imagem-ajustada {
        width: 100%;
        height: auto;
=======
                
>>>>>>> parent of ae3c01a (acertando tamanho imagem mobile version)
    }
    .conteudo__caixa {
        width: auto;
    }
    .cabecalho {
        padding: 10% 0 0 0;
    }
    .cabecalho__menu {
        justify-content: center;
        gap: 5rem;
        
    }
}